# Visual Studio files and folders
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio cache/options
.vs/
*.vsidx
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Build results
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp
*.obj
*.iobj
*.ipdb
*.idb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild

# Visual Studio IntelliSense
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb

# Files built by Visual Studio
*.opensdf
*.sdf
*.cachefile
*.VC.VC.opendb

# Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/
